body{
    height: 100%;
    width: 100%;
    background: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0px;
}

#app{
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: "Hiragino Kaku Gothic ProN","ヒラギノ角ゴシック","ヒラギノ角ゴ Pro W3",Arial,'Noto Sans JP',sans-serif;
}

#test{
    color: red;
}