body {
    background-color: #c5deeb;
}

/* Topコンポーネント */
.main {
    color: rgb(13, 13, 41);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    color: white;
    font-size: 19px;
    width: 20%;
    height: 63px;
    border-radius: 10px;
    letter-spacing: 0.05em;
}

.btn-signup {
    background: rgb(240, 103, 103);
    border: 4px solid rgb(240, 103, 103);
}

.btn-login {
    background: #58a4ec;
    border: 4px solid #58a4ec;
}

/* Loginコンポーネント */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.area_form{
    display: flex;
    flex-direction: column;
}

.form_title{
    display: inline-block;
    padding-right: 30px;
}

.textbox {
    height: 30px;
    width: 250px;
    font-size: 16px;
    margin-right: 15px;
}

.area_nickname{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.area_experiment{
    display: flex;
}

.area_radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.area_radio label{
    display: block;
    margin-bottom: 8px;
}

.signup {
    background: rgb(240, 103, 103);
    border: 4px solid rgb(240, 103, 103);
    color: white;
    font-size: 19px;
    width: 9%;
    height: 60px;
    border-radius: 10px;
    letter-spacing: 0.05em;
    margin-top: 30px;
}

/* Postコンポーネント */
.content,.content_mypage {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.content .header ,.content_mypage .header{
    width: 100%;
    font-size: 1.2em;
    background: #58a4ec;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0px 0px;
}

.content:hover {
    outline: 5px solid rgb(142, 211, 238);
    border-radius: 10px;
}

.header p {
    padding: 12px 20px;
}

.header {
    display: flex;
    align-items: center;
    /* padding: 10px; */
}

.replies{
    display: flex;
    flex: auto;
}

.name {
    font-size: 20px;
    margin: 0;
    margin-left: 5px
}

.created {
    margin: 0 0 0 28px;
    /* margin-left: 28px; */
    font-size: 18px;
}

.reply_counts{
    margin: 0;
    margin-left: auto;
    margin-right: 20px;
}

.fas{
    margin-right: 5px;
}

.posts {
    text-align: left;
    margin: 0 50px;
}

.post {
    font-size: 18px;
}

.post-personality {
    color: rgb(251, 46, 100);
    font-weight: bold;
}

.login-user {
    margin-bottom: 15px;
    text-align: center;
}

.manual{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
/* .manual a{
    text-decoration: none;
    color: #000;
} */
.button_home{
    text-align: center;
    margin-top: 30px;
}

.btn-post,.btn-mypage,.btn-logout {
    background: #58a4ec;
    border: 4px solid #58a4ec;
    color: white;
    font-size: 17px;
    width: 8%;
    height: 60px;
    border-radius: 10px;
    letter-spacing: 0.05em;
    margin-right: 20px;
}

.btn-mypage {
    background: #f387df;
    border: 4px solid #f387df;
}

.btn-logout {
    background: rgb(240, 103, 103);
    border: 4px solid rgb(240, 103, 103);
}

.reply {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-reply {
    /* display: block;
    position: relative;
    display: inline-block; */

    text-align: center;
    width: 13%;
    height: 45px;
    color: rgb(255, 255, 255);
    background: #58a4ec;
    font-size: 19px;
    font-weight: bold;
    border: 4px solid #58a4ec;
    box-sizing: border-box;
    border-radius: 10px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
    /* margin-right: 10px; */
}

.btn-reply i {
    font-size: 20px;
    margin-right: 10px;
    color: #ffffff;
}

.reply-counts i {
    font-size: 18px;
    color: #676767;
    /* margin-left: 630px; */
    margin-bottom: 14px;
}
/* Detailコンポーネント */
.content_detail {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content_detail .header {
    width: 100%;
    font-size: 1.2em;
    background: #58a4ec;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0px 0px; /* 上だけ角丸 */
    
}

.content_reply {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content_reply .header {
    width: 100%;
    font-size: 1.2em;
    background: #58a4ec;
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 10px 10px 0px 0px;
    /* 上だけ角丸 */
}

.btn-back {
    background: #58a4ec;
    border: 4px solid #58a4ec;
    color: white;
    font-size: 21px;
    width: 9%;
    height: 60px;
    border-radius: 10px;
    letter-spacing: 0.05em;
    margin-right: 20px;
}


#swal2-title {
    background: #58a4ec;
    /* padding: 4px; */
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 4px 4px 0px 0px;
    /* 上だけ角丸 */
    padding: 22px 20px;
    /* margin: 0; */
}

h3 {
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 0.05em;
}

#event {
    width: 80%;
    height: 70px;
    margin-top: 0px;
    resize: none;
    font-size: 20px;
    background: rgb(239, 246, 254);
    border-radius: 8px;
}

#thoughts {
    width: 80%;
    height: 70px;
    margin-top: 0px;
    resize: none;
    font-size: 20px;
    background: rgb(239, 246, 254);
    border-radius: 8px;
}

#personality {
    width: 80%;
    height: 70px;
    margin-top: 0px;
    resize: none;
    font-size: 20px;
    background: rgb(239, 246, 254);
    border-radius: 8px;
}

#reply {
    width: 80%;
    height: 70px;
    margin-top: 10px;
    resize: none;
    font-size: 20px;
    background: rgb(239, 246, 254);
    border-radius: 8px;
}

#swal2-validation-message {
    font-weight: bold;
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
	.title{
        font-size: 24px;
    }
    .button_top{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .btn{
        font-size: 16px;
        width: 70%;
        margin-right: 0px;
    }
    .button_home{
        display: flex;
        justify-content: center;
    }
    .area_nickname,.area_experiment{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 20px;
    }
    .form_title{
        padding: 0;
    }
    .textbox{
        /* padding: 0px; */
        margin: 0;
    }
    .signup{
        width: 30%;
        font-size: 16px;
    }
    .btn-post{
        width: 25%;
        font-size: 14px;
    }
    .btn-mypage,.btn-logout,.btn-reply{
        width: 25%;
        font-size: 13px;
    }
    .content,.content_detail,.content_mypage,.content_reply{
        width: 85%;
    }
    .header{
        height: 50px;
    }
    .header p{
        padding: 7px;
        font-size: 14px;
    }
    .posts{
        margin: 0 20px;
    }
    .posts p{
        font-size: 14px;
    }
    .name{
        width: 70px;
        margin-left: 0px;
        /* text-align: left; */
    }
    .created{
        margin: -6px;
    }
    .btn-reply{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-reply i{
        font-size: 12px;
    }
    .btn-back{
        width: 25%;
        font-size: 14px;
        margin: 0;
    }
    #swal2-title{
        font-size: 22px;
    }
    h3{
        font-size: 16px;
    }
    
}